:root {
  --dark: #1a1a1a;
  --dark-wm: #202020;
  --light: #ecedee;
  --light-wm: #e2e2e2;
  --dark-link: #a9ff00;
  --light-link: #007bff;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  overflow-x: hidden;
}
main {
  position: relative;
  z-index: 2;
}
header {
  position: fixed;
  top: 0;
  width: calc(100% - 10vw);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5vh 5vw 0;
  z-index: 3;
}

header a {
  color: var(--dark);
  margin-right: 2em;
}

.dark header a {
  color: var(--light);
}
.nav-bar ul {
  display: flex;
  list-style: none;
}

#click-contact{
  cursor: pointer;
}
.nav-bar ul li::before {
  content: "\200B";
}

section {
  height: 100vh;
  width: 100vw;
  font-size: 4vmin;
  background-color: var(--light);
  color: var(--dark);
  position: relative;
}

.dark section {
  color: #ffffff;
  background-color: var(--dark);
}

.content-container {
  height: calc(100% - 2em);
  max-width: calc(100% - 2em);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mode {
  position: fixed;
  bottom: 2em;
  font-size: smaller;
  right: 2em;
  z-index: 1;
}

h1 {
  font-family: "Syncopate", sans-serif;
  font-size: 3em;
  margin: 0;
  width: 90%;
}
.can-slide h1 {
  animation-duration: 0.5s;
  animation-name: slidefromleft;
}

@keyframes slidefromleft {
  from {
    margin-left: -200%;
  }

  to {
    margin-left: 0px;
  }
}

h2,h3 {
  font-family: "Syncopate", sans-serif;
  position: relative;
  margin: 0;
  margin-top: 5vh;
}

#intro h2 {
  width: 90%;
}

section::after {
  font-size: 5em;
  font-family: "Syncopate", sans-serif;
  position: absolute;
  z-index: 1;
  color: var(--light-wm);
}

.dark section::after {
  color: var(--dark-wm);
}

#about::after {
  top: 0;
  content: "this is me";
}

#projects::after {
  top: 0;
  content: "side gigs";
}

.stroke {
  color: #000;
  -webkit-text-fill-color: var(--light);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.dark .stroke {
  color: rgb(255, 255, 255);
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-fill-color: var(--dark);
  -webkit-text-stroke-width: 1px;
}
.status {
  float: right;
  display: flex;
  justify-content: center;
}

.status h3 {
  display: flex;
}

.status div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

#date {
  font-size: 10vmin;
}

#month {
  font-size: 3vmin;
}
#seeking {
  font-size: xx-small;
  font-family: "Montserrat", sans-serif;
}

a {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  width: fit-content;
  display: inline-block;
  left: 0;
  transition: all 0.3s ease-in-out;
  color: var(--light-link);
}
.dark a {
  color: var(--dark-link);
}
#contact {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background-color: var(--light-wm);
}

.dark #contact{
  background-color: var(--dark-wm);
}
#contact-bg {
  font-size: 5em;
  font-family: "Syncopate", sans-serif;
  color: #9c9c9c4d;
}

.dark #contact-bg{
  color: var(--dark);
}
.contact-child a:hover {
  left: 30px;
}
.contact-child:first-child{
  font-size: 1.2em;
  margin: 2em;
}

.contact-child a {
  margin-top: 2vh;
}

.can-slide h1 {
  animation-duration: 0.5s;
  animation-name: slidefromleft;
}

@keyframes slidefromleft {
  from {
    margin-left: -200%;
  }

  to {
    margin-left: 0px;
  }
}
.can-slide h2 {
  animation-duration: 0.8s;
  animation-name: slidefromleft;
}
/* scrollbar styling */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a10;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:active {
  background: #494949;
  border-radius: 5px;
}
