html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  height: 100vh;
  font-size: large;
  font-family: "Montserrat", sans-serif;
}
body > div {
  width: 100vw;
  display: none;
  height: 100%;
}
.initial {
  font-weight: bolder;
  font-size: xx-large;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;
}
.show {
  display: grid;
  place-items: center;
  animation: 2s fadeIn;
}
.landing_page {
  place-items: unset;
  grid-template-rows: auto 1fr auto auto;
  background-color: #ffffff;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav-bar .link:last-of-type {
  margin-top: 0;
}
.link {
  display: block;
  text-decoration: none;
  float: right;
  margin: 1rem;
  color: #000000;
  width: fit-content;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.link:hover {
  padding-right: 2rem;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
  pointer-events: none;
  mix-blend-mode: difference;
  z-index: 2;
}
.project-scroller {
  width: 50vw;
  height: 90%;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
}
.project-scroller::after {
  content: "projects";
  position: absolute;
  font-size: 5rem;
  font-weight: bolder;
  color: #e2e2e2;
  transform: translate(-6%, -70%);
}
.projects__item {
  scroll-snap-align: center;
  min-width: 100%;
  min-height: 100%;
}
.projects__item:last-of-type {
  margin-right: 0;
}
.scroll-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 25vw;
}
.scroll-btn button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-top: 1rem;
}
.scroll-btn img {
  width: 4vw;
  height: 4vw;
}
.sidebar {
  background-color: #000000;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  width: 100vw;
  color: #ffffff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-y: auto;
  z-index: 2;
  height: 100%;
}
.sidebar > div:not(:first-child) {
  margin: 0 15rem 2rem 15rem;
}
::before {
  position: relative;
  font-size: 4rem;
  font-weight: bolder;
  color: #202020;
  z-index: -1;
}
.sidebar__info::before {
  content: "hello";
}
.sidebar__info p {
  margin: 0;
}
.sidebar__contact::before {
  content: "let's talk";
}
.sidebar__links {
  display: flex;
  flex-direction: column;
}
.sidebar__links .link {
  position: relative;
  float: left;
  margin-top: 0;
  margin-left: 0;
  color: #ffffff;
}
.sidebar__links .link:hover {
  padding-left: 20px;
}
@media screen and (max-width: 991px) {
  .sidebar > div:not(:first-child) {
    margin: 0 5rem 2rem 5rem;
  }
}
@media screen and (max-width: 767px) {
  .sidebar > div:not(:first-child) {
    margin: 0 2rem 2rem 2rem;
  }
  .scroll-btn img {
    width: 8vw;
    height: 8vw;
  }
  .project-scroller {
    width: 70vw;
  }
  .scroll-btn {
    margin-right: 15vw;
  }
}
@media screen and (max-width: 479px) {
  .scroll-btn img {
    width: 12vw;
    height: 12vw;
  }
  .project-scroller {
    width: 90vw;
  }
  .scroll-btn {
    margin-right: 5vw;
  }
  .cursor {
    display: none;
  }
}

.sidebar__close {
  margin: 1rem;
  margin-left: auto;
  cursor: pointer;
}
.sidebar[aria-hidden="true"] {
  transition: ease-out 500ms;
  transform: translateY(100%);
}
.sidebar:not([aria-hidden]),
.sidebar[aria-hidden="false"] {
  transition: ease-in 500ms;
  transform: translateY(0%);
}
footer .link {
  font-size: small;
  float: unset;
}
/* scrollbar styling */
.project-scroller::-webkit-scrollbar {
  height: 3px;
}
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background: #888888;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a5a5a10;
}

::-webkit-scrollbar-thumb:active {
  background: #494949;
}
